<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <title>SMART APP</title>
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
    <title>ZS Patient Browser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>
    <center>ZS Smart FHIR App</center>
</h1>
<br>

<div class="container">
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-4">
            <form class="form-inline">
                <div class="form-group">
                    <div class="form-group">
                        <label style="font-size: 15px;">Enter Patient ID</label>
                        <input type="text" class="form-control" placeholder="Search by id..." id="userinput" style="margin-left:4px;width: 30%;">
                        <button type="submit" onclick="location.href='https://rajakushwah.github.io/smart-on-fhir-tutorial/example-smart-app/launch.html';" id="demo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
<!--                        <button type="submit" onclick="myfunc()" id="demo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
        function myfunc() {
            var input = document.getElementById('userinput');
            alert(input.value);

        FHIR.oauth2.authorize({
              clientId: "d973aacb-8f78-4ddd-b326-0412ddd33375",
              scope: "patient/Patient.read patient/Observation.read launch online_access openid profile",
              iss:"https://fhir-ehr-code.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d",
              patientId:input.value,
              redirectUri: "https://rajakushwah.github.io/smart-on-fhir-tutorial/example-smart-app/index.html",
              launch:"a7b726f7-ea3c-4ad7-bef4-4eab4b3b0857",
              response_type:"code"
            });
        }


</script>

</body>
</html>
